#homeHeader {
    background-image: url("./images/bonfireAtBeach.jpg");
    background-size: 100% 100%;
    color: antiquewhite;
}

#surveyHeader {
    background-image: url("./images/peopleShadow.jpg");
    background-size: 100% 100%;
}

.card-header {
    padding: 30px;
}
.card-text {
    font-size: 1.2rem;
    color: rgb(3, 3, 112);
}